#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        leftclick {
            bindings = <&mkp LCLK>;
            key-positions = <18 19>;
        };

        rightclick {
            bindings = <&mkp RCLK>;
            key-positions = <20 19>;
        };

        middleclick {
            bindings = <&mkp MCLK>;
            key-positions = <18 20>;
        };

        eng {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <39 38>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <22 23>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 8>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <21 20>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <12 13>;
        };

        paste {
            bindings = <&kp LG(P)>;
            key-positions = <12 11>;
        };

        cut {
            bindings = <&kp LG(X)>;
            key-positions = <11 13>;
        };

        mouseclick4 {
            bindings = <&mkp MB4>;
            key-positions = <17 18>;
        };

        BootloaderL {
            bindings = <&bootloader>;
            key-positions = <0 4>;
            slow-release;
        };

        BootloaderR {
            bindings = <&bootloader>;
            key-positions = <9 5>;
        };

        SysResetR {
            bindings = <&sys_reset>;
            key-positions = <6 8>;
        };

        SysresetL {
            bindings = <&sys_reset>;
            key-positions = <3 1>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W             &kp E         &kp R            &kp T                                                 &kp Y        &kp U  &kp I        &kp O       &kp P
&kp A             &kp S             &kp D         &kp F            &kp G      &kp LG(LS(N4))      &kp LEFT_PARENTHESIS   &kp H        &kp J  &kp K        &kp L       &mt LEFT_SHIFT MINUS
&kp Z             &kp X             &kp C         &kp V            &kp B      &kp COLON           &kp RIGHT_PARENTHESIS  &kp N        &kp M  &lt 5 COMMA  &kp PERIOD  &mt LEFT_GUI SLASH
&kp LEFT_COMMAND  &kp LEFT_CONTROL  &kp LEFT_ALT  &lt 1 BACKSPACE  &lt 2 TAB  &lt 3 LANG1         &kp ENTER              &lt 1 SPACE                                  &kp LANGUAGE_2
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        FunctionNum {
            bindings = <
&kp TILDE          &kp F1   &kp F2   &kp F3   &kp EQUAL                                                 &kp ASTRK     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
&kp SINGLE_QUOTE   &kp F4   &kp F5   &kp F6   &kp LEFT_BRACE    &kp RIGHT_BRACE        &kp EXCLAMATION  &kp AT        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp DOUBLE_QUOTES  &kp F7   &kp F8   &kp F9   &kp LEFT_BRACKET  &kp RIGHT_BRACKET      &kp QUESTION     &kp HASH      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PERCENT
&kp DOLLAR         &kp F10  &kp F11  &kp F12  &kp LESS_THAN     &kp GREATER_THAN       &kp UNDER        &kp NUMBER_0                                            &kp ENTER
            >;
        };

        BTSymbol {
            bindings = <
&kp MINUS         &kp PLUS           &kp PIPE       &kp TILDE         &trans                                                    &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2          &bt BT_SEL 3           &bt BT_SEL 4
&kp UNDER         &kp EQUAL          &kp BACKSLASH  &kp GRAVE         &trans             &trans                &kp EXCLAMATION  &kp AT         &kp HASH      &kp DOLLAR            &kp PERCENT            &trans
&kp LEFT_BRACE    &kp RIGHT_BRACE    &kp COLON      &kp SEMI          &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE      &kp CARET        &kp AMPERSAND  &kp ASTRK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &bt BT_CLR
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LESS_THAN  &kp GREATER_THAN  &kp SLASH          &trans                &trans           &trans                                                                    &bt BT_CLR_ALL
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE  &trans  &trans  &trans  &trans                      &trans  &trans          &kp UP_ARROW    &trans     &trans
&kp TAB     &trans  &trans  &trans  &trans  &trans      &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &kp BACKSPACE
&trans      &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans          &trans          &trans     &trans
&trans      &trans  &trans  &trans  &trans  &trans      &trans  &trans                                             &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans    &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &to 0                                      &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans    &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                     &trans
            >;
        };
    };
};
